.App {
    text-align: center;
}

.footer {
    background-color: #24262b;
    padding: 50px 0;
}

.brillaremos {
    color: #eaeaea;
    /*padding: 10px 20px;*/
    border: none;
    animation: brillitos 12s infinite alternate;
}

@keyframes brillitos {
    25% {
        color: #eaeaea;
    }
    50% {
        color: #600532;;
    }
    75% {
        color: #eaeaea;
    }
    100% {
        color: #600532;
    }
}

@media only screen and(max-width: 768px) {

}

@media only screen and(max-width: 768px) {

}