.App {
    text-align: center;
}

.footer {
    background-color: #24262b;
    padding: 50px 0;
}

.brillar {
    background-color: #eaeaea;
    padding: 10px 20px;
    border: none;
    animation: brillo 10s infinite alternate;
}

@keyframes brillo {
    25% {
        background-color: #eaeaea;
        color: black;
    }
    50% {
        background-color: #ee0979;
        color: white;
    }
    75% {
        background-color: #eaeaea;
        color: black;
    }
    100% {
        background-color: #ee0979;
        color: white;
    }
}

.presionado {
    animation: none;
    background-color: #eaeaea;
}

@media only screen and(max-width: 768px) {

}

@media only screen and(max-width: 768px) {

}